@import url(./fonts.css);

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #eee;
}

.header {
    width: 100%;
    background: url('./assets/hero1.jpg');
    color: rgba(250,250,250, 0.8);
    background-size: cover;
}

.nav {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 1.35rem;
    background: rgba(0,0,0, 0.25);
}

.nav a {
    text-decoration: none;
    color: #eee;
}

.nav__title {
    font-size: inherit;
    font-weight: normal;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(50vh - 100px);
    font-size: 1.1rem;
}

.hero__container {
    max-width: 563px;
    margin-bottom: 100px;
}

.hero__title {
    font: 5rem 'Bangers';
    margin: 0;
}
