.randomizer {
    max-width: 600px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: -10vh;
    background: white;
    border-radius: 2.5px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}
