.randomizer {
    max-width: 600px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: -10vh;
    background: white;
    border-radius: 2.5px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}

.randomizer__button {
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 5px;
    background: linear-gradient(40deg, #2d9b8b, #2d9b54);
    border: none;
    outline: none;

}
